.titre-global {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 70px;
  padding: 0 25px 20px;
}

@media screen and (max-width: 1100px) {
  .titre-global {
    font-size: 60px;
  }
}
@media screen and (max-width: 850px) {
  .titre-global {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .titre-global {
    font-size: 35px;
    padding: 10px 5px;
  }
}
.choix, .galerie-txt-pics, .container-fonctionnalites, .liste-media, footer, .container-faq, .container-boxs, .accueil, nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nav {
  font-size: 30px;
  padding-left: 30px;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

nav li a::after {
  content: "";
  position: relative;
  top: 5px;
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

nav li a:hover::after {
  transform: scale(1);
}

.lien-essaie {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  background: linear-gradient(45deg, #8a56eb, #3297a8);
}

.responsive-nav-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 950px) {
  .responsive-nav-btn {
    display: block;
  }

  nav {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid #000;
    position: absolute;
    top: -5px;
  }

  nav ul {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #000;
    flex-direction: column;
    display: none;
  }

  .logo-nav {
    padding-left: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
  }

  nav ul li {
    height: 70px;
    line-height: 70px;
  }

  .lien-essaie {
    display: none;
  }

  .active-nav {
    display: flex;
  }
}
.container-global {
  padding-bottom: 400px;
}

.accueil {
  width: 100%;
  height: 900px;
  flex-direction: column;
  padding: 50px 0 75px;
}

.sous-titre {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  line-height: 1.2;
}

.accueil img {
  width: 1000px;
}

@media screen and (max-width: 1100px) {
  .accueil {
    padding: 0 0 0;
    height: 700px;
  }

  .accueil img {
    width: 700px;
  }

  .sous-titre {
    font-size: 27px;
  }
}
@media screen and (max-width: 950px) {
  .accueil {
    padding: 100px 0 0;
  }
}
@media screen and (max-width: 750px) {
  .accueil {
    padding: 100px 0 50px;
    height: 500px;
  }

  .accueil img {
    width: 500px;
  }

  .sous-titre {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  .accueil {
    padding: 75px 0 0px;
    height: 400px;
  }

  .accueil img {
    width: 400px;
  }

  .sous-titre {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .accueil {
    height: 320px;
  }

  .accueil img {
    width: 320px;
  }
}
.container-performances {
  padding: 120px 20px 170px;
  margin-bottom: 100px;
  background-image: linear-gradient(45deg, rgba(190, 188, 245, 0.5) 0%, rgba(190, 188, 245, 0.5) 12.5%, rgba(154, 158, 183, 0.5) 12.5%, rgba(154, 158, 183, 0.5) 25%, rgba(155, 167, 181, 0.5) 25%, rgba(155, 167, 181, 0.5) 37.5%, rgba(119, 148, 154, 0.5) 37.5%, rgba(119, 148, 154, 0.5) 50%, rgba(105, 160, 159, 0.5) 50%, rgba(105, 160, 159, 0.5) 62.5%, rgba(135, 181, 160, 0.5) 62.5%, rgba(135, 181, 160, 0.5) 75%, rgba(165, 218, 184, 0.5) 75%, rgba(165, 218, 184, 0.5) 87.5%, rgba(147, 232, 165, 0.5) 87.5%, rgba(147, 232, 165, 0.5) 100%), linear-gradient(135deg, #d3cef5 0%, #d3cef5 12.5%, #cfcfea 12.5%, #cfcfea 25%, #c1d3ef 25%, #c1d3ef 37.5%, #bcdaf3 37.5%, #bcdaf3 50%, #b8e0e0 50%, #b8e0e0 62.5%, #a5e6d8 62.5%, #a5e6d8 75%, #a2ecc7 75%, #a2ecc7 87.5%, #9cf5c0 87.5%, #9cf5c0 100%);
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 82%);
}

.separation {
  margin: 0 auto 70px;
  height: 2px;
  width: 300px;
  border-radius: 5px;
  border: none;
  background: #000;
}

.container-boxs {
  width: 100%;
}

.box {
  margin: 0 50px;
}

.box p {
  text-align: center;
}

.nombre-clients {
  font-size: 85px;
}

.type-de-clients {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}

.info-clients {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .nombre-clients {
    font-size: 80px;
  }
}
@media screen and (max-width: 750px) {
  .container-performances {
    padding: 175px 20px 150px;
  }

  .container-boxs {
    flex-direction: column;
  }

  .box {
    padding-bottom: 50px;
  }

  .nombre-clients {
    font-size: 80px;
  }

  .separation {
    margin: 0 auto 30px;
    width: 30%;
  }

  .type-de-clients {
    font-size: 25px;
  }

  .info-clients {
    font-size: 22px;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .container-performances {
    padding: 135px 20px 150px;
  }

  .nombre-clients {
    font-size: 50px;
  }

  .type-de-clients {
    font-size: 22px;
  }

  .info-clients {
    font-size: 20px;
  }
}
.container-faq {
  width: 70%;
  max-width: 900px;
  min-width: 320px;
  height: auto;
  margin: 10px auto 150px;
  flex-direction: column;
}

.questions {
  width: 100%;
  height: auto;
  margin: 5px;
}

.panneau-visible {
  display: flex;
  position: relative;
  z-index: 100;
  background: #f1f1f1;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.titre-questions {
  padding: 15px 5px;
  margin-left: 10px;
  font-size: 20px;
}

.panneau-visible img {
  width: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.toggle-pannel {
  padding: 0 15px;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.toggle-pannel h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.toggle-pannel p {
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 750px) {
  .container-faq {
    width: 90%;
  }

  .titre-questions {
    margin-left: 10px;
    font-size: 18px;
  }
}
.container-cta {
  padding: 150px 0 100px;
  clip-path: polygon(0% 17%, 100% 0%, 100% 82%, 0% 100%);
  background-image: linear-gradient(45deg, rgba(190, 188, 245, 0.5) 0%, rgba(190, 188, 245, 0.5) 12.5%, rgba(154, 158, 183, 0.5) 12.5%, rgba(154, 158, 183, 0.5) 25%, rgba(155, 167, 181, 0.5) 25%, rgba(155, 167, 181, 0.5) 37.5%, rgba(119, 148, 154, 0.5) 37.5%, rgba(119, 148, 154, 0.5) 50%, rgba(105, 160, 159, 0.5) 50%, rgba(105, 160, 159, 0.5) 62.5%, rgba(135, 181, 160, 0.5) 62.5%, rgba(135, 181, 160, 0.5) 75%, rgba(165, 218, 184, 0.5) 75%, rgba(165, 218, 184, 0.5) 87.5%, rgba(147, 232, 165, 0.5) 87.5%, rgba(147, 232, 165, 0.5) 100%), linear-gradient(135deg, #d3cef5 0%, #d3cef5 12.5%, #cfcfea 12.5%, #cfcfea 25%, #c1d3ef 25%, #c1d3ef 37.5%, #bcdaf3 37.5%, #bcdaf3 50%, #b8e0e0 50%, #b8e0e0 62.5%, #a5e6d8 62.5%, #a5e6d8 75%, #a2ecc7 75%, #a2ecc7 87.5%, #9cf5c0 87.5%, #9cf5c0 100%);
}

.txt-cta {
  text-align: center;
  font-size: 22px;
  padding: 0 10px;
}

.btn-appel {
  display: block;
  color: #f1f1f1;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  margin: 30px auto;
  width: 250px;
  padding: 20px;
  border-radius: 9999px;
  background: #8a56eb;
}

@media screen and (max-width: 750px) {
  .txt-cta {
    font-size: 18px;
  }

  .btn-appel {
    width: 200px;
  }
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  border-top: 1px dashed #000;
  background-color: lightgrey;
  flex-direction: column;
}

.bloc {
  width: 300px;
  margin: 0 30px;
}

.footer-media h3 {
  text-align: center;
  font-size: 40px;
  padding-bottom: 20px;
}

footer p {
  font-size: 22px;
  line-height: 1.4;
}

.liste-media img {
  width: 40px;
  margin: 10px 10px;
}

.titre-fonctionnalites {
  padding: 130px 0 20px;
}

.sous-titre-fonctionnalites {
  text-align: center;
  font-size: 24px;
}

.container-btn-accueil {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.btn-fonctionnalites {
  display: block;
  width: 200px;
  padding: 15px;
  background: #8a56eb;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  border-radius: 20px;
  margin: 0 10px;
}

.fantome {
  border: 2px solid #8a56eb;
  background: transparent;
  color: #8a56eb;
}

.container-fonctionnalites {
  margin: 125px auto 200px;
  width: 90%;
  max-width: 1700px;
  min-width: 300px;
  flex-wrap: wrap;
}

.box-fonctionnalites {
  width: 400px;
  display: flex;
  margin: 40px 20px;
}

.gauche-img {
  font-size: 50px;
}

.droite-txt p:nth-of-type(1) {
  font-size: 35px;
  font-weight: bold;
}

.droite-txt p:nth-of-type(2) {
  font-size: 25px;
  line-height: 1.2;
}

.sous-titre-newsletter {
  font-size: 27px;
  text-align: center;
  margin-bottom: 50px;
}

form {
  width: 50%;
  margin: 0 auto 200px;
  display: flex;
  justify-content: center;
  position: relative;
}

form input {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  outline: none;
  border: 1px solid #000;
  border-radius: 99999px;
}

form button {
  outline: none;
  width: 200px;
  border: 1px solid #000;
  border-radius: 9999px;
  font-size: 20px;
  padding: 15px;
  position: absolute;
  right: 0px;
}

@media screen and (max-width: 1100px) {
  form {
    width: 80%;
  }
}
@media screen and (max-width: 800px) {
  .container-fonctionnalites {
    margin: 125px auto 75px;
  }
}
@media screen and (max-width: 600px) {
  .sous-titre-newsletter {
    font-size: 20px;
  }

  form button {
    width: 125px;
    font-size: 17px;
    padding: 10 auto;
  }

  form input {
    font-size: 17px;
  }
}
.galerie-txt-pics {
  width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 80px;
}

.txt-box-galerie {
  width: 500px;
  height: 500px;
  margin: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.txt-box-galerie p:nth-child(1) {
  font-size: 50px;
  font-weight: lighter;
  padding: 0 0 20px 0;
}

.underline-violet {
  width: 200px;
  margin-left: 0;
  height: 3px;
  background: #8a56eb;
  outline: none;
  border: none;
}

.txt-box-galerie p:nth-child(3) {
  font-size: 35px;
  font-weight: bold;
  padding: 20px 0;
}

.txt-box-galerie p:nth-child(4) {
  font-size: 30px;
  padding: 0 0 20px 0;
}

.txt-box-galerie a {
  color: #000;
  font-size: 20px;
  padding: 20px 0;
}

.img-box-galerie {
  border: 1px solid #000;
  width: 500px;
  height: 500px;
  background: url(../../ressources/img-galerie.jpg);
  background-size: cover;
  background-position: center;
  margin: 50px;
}

@media screen and (max-width: 1300px) {
  .galerie-txt-pics {
    width: 90%;
  }

  .txt-box-galerie {
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .img-box-galerie {
    margin: 5px;
  }

  .txt-box-galerie {
    margin: 5px;
  }

  .txt-box-galerie p:nth-child(1) {
    font-size: 35px;
  }
}
.titre-tarifs {
  padding: 120px 0 20px;
}

.container-tarifs {
  margin: 125px auto 200px;
  width: 60%;
  max-width: 1100px;
  min-width: 300px;
  height: auto;
}

.choix-tarifs {
  margin: 0 auto;
  height: 100px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.choix {
  font-family: "Comfortaa", arial;
  height: 100%;
  font-size: 30px;
  width: 170px;
  outline: none;
  border: none;
  letter-spacing: 3px;
  cursor: pointer;
  background: #333;
  color: #f1f1f1;
}

.choix:nth-child(1) {
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.2);
  border-right: 1px solid #fff;
}

.choix:nth-child(2) {
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
  border-right: 1px solid #fff;
}

.choix:nth-child(3) {
  box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.2);
}

.choix.active-choix {
  background: #fff;
  color: #000;
}

.tableau {
  border-collapse: collapse;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  font-size: 30px;
  background-image: linear-gradient(45deg, rgba(190, 188, 245, 0.5) 0%, rgba(190, 188, 245, 0.5) 12.5%, rgba(154, 158, 183, 0.5) 12.5%, rgba(154, 158, 183, 0.5) 25%, rgba(155, 167, 181, 0.5) 25%, rgba(155, 167, 181, 0.5) 37.5%, rgba(119, 148, 154, 0.5) 37.5%, rgba(119, 148, 154, 0.5) 50%, rgba(105, 160, 159, 0.5) 50%, rgba(105, 160, 159, 0.5) 62.5%, rgba(135, 181, 160, 0.5) 62.5%, rgba(135, 181, 160, 0.5) 75%, rgba(165, 218, 184, 0.5) 75%, rgba(165, 218, 184, 0.5) 87.5%, rgba(147, 232, 165, 0.5) 87.5%, rgba(147, 232, 165, 0.5) 100%), linear-gradient(135deg, #d3cef5 0%, #d3cef5 12.5%, #cfcfea 12.5%, #cfcfea 25%, #c1d3ef 25%, #c1d3ef 37.5%, #bcdaf3 37.5%, #bcdaf3 50%, #b8e0e0 50%, #b8e0e0 62.5%, #a5e6d8 62.5%, #a5e6d8 75%, #a2ecc7 75%, #a2ecc7 87.5%, #9cf5c0 87.5%, #9cf5c0 100%);
  color: #000;
}

th {
  font-size: 40px;
}

td,
th {
  border: 1px solid #222;
  padding: 10px;
  vertical-align: middle;
  width: 50%;
}

.panneau {
  display: none;
}

.panneau-active {
  display: block;
}

@media screen and (max-width: 1200px) {
  .container-tarifs {
    width: 90%;
    margin: 55px auto 100px;
  }
}
@media screen and (max-width: 900px) {
  .container-tarifs {
    width: 95%;
  }

  .choix-tarifs {
    height: 80px;
  }

  .choix {
    width: 150px;
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .container-tarifs {
    width: 300px;
  }

  .choix-tarifs {
    height: 60px;
  }

  .choix {
    width: 100px;
    font-size: 18px;
  }

  .tableau {
    height: 500px;
    font-size: 22px;
  }

  th {
    font-size: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
