.titre-global {
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 70px;
  padding: 0 25px 20px;
}

@media screen and (max-width: 1100px) {
  .titre-global {
    font-size: 60px;
  }
}
@media screen and (max-width: 850px) {
  .titre-global {
    font-size: 50px;
  }
}
@media screen and (max-width: 600px) {
  .titre-global {
    font-size: 35px;
    padding: 10px 5px;
  }
}
.container-faq, .container-boxs, .accueil, nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nav {
  font-size: 30px;
  padding-left: 30px;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

nav li a::after {
  content: "";
  position: relative;
  top: 5px;
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}

nav li a:hover::after {
  transform: scale(1);
}

.lien-essaie {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  background: linear-gradient(45deg, #8a56eb, #3297a8);
}

.responsive-nav-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 950px) {
  .responsive-nav-btn {
    display: block;
  }

  nav {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid #000;
    position: absolute;
    top: -5px;
  }

  nav ul {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #000;
    flex-direction: column;
    display: none;
  }

  .logo-nav {
    padding-left: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
  }

  nav ul li {
    height: 70px;
    line-height: 70px;
  }

  .lien-essaie {
    display: none;
  }

  .active-nav {
    display: flex;
  }
}
.container-global {
  padding-bottom: 400px;
}

.accueil {
  width: 100%;
  height: 900px;
  flex-direction: column;
  padding: 50px 0 75px;
}

.sous-titre {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  line-height: 1.2;
}

.accueil img {
  width: 1000px;
}

@media screen and (max-width: 1100px) {
  .accueil {
    padding: 0 0 0;
    height: 700px;
  }

  .accueil img {
    width: 700px;
  }

  .sous-titre {
    font-size: 27px;
  }
}
@media screen and (max-width: 950px) {
  .accueil {
    padding: 100px 0 0;
  }
}
@media screen and (max-width: 750px) {
  .accueil {
    padding: 100px 0 50px;
    height: 500px;
  }

  .accueil img {
    width: 500px;
  }

  .sous-titre {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  .accueil {
    padding: 75px 0 0px;
    height: 400px;
  }

  .accueil img {
    width: 400px;
  }

  .sous-titre {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .accueil {
    height: 320px;
  }

  .accueil img {
    width: 320px;
  }
}
.container-performances {
  padding: 120px 20px 170px;
  margin-bottom: 100px;
  background-image: linear-gradient(45deg, rgba(190, 188, 245, 0.5) 0%, rgba(190, 188, 245, 0.5) 12.5%, rgba(154, 158, 183, 0.5) 12.5%, rgba(154, 158, 183, 0.5) 25%, rgba(155, 167, 181, 0.5) 25%, rgba(155, 167, 181, 0.5) 37.5%, rgba(119, 148, 154, 0.5) 37.5%, rgba(119, 148, 154, 0.5) 50%, rgba(105, 160, 159, 0.5) 50%, rgba(105, 160, 159, 0.5) 62.5%, rgba(135, 181, 160, 0.5) 62.5%, rgba(135, 181, 160, 0.5) 75%, rgba(165, 218, 184, 0.5) 75%, rgba(165, 218, 184, 0.5) 87.5%, rgba(147, 232, 165, 0.5) 87.5%, rgba(147, 232, 165, 0.5) 100%), linear-gradient(135deg, #d3cef5 0%, #d3cef5 12.5%, #cfcfea 12.5%, #cfcfea 25%, #c1d3ef 25%, #c1d3ef 37.5%, #bcdaf3 37.5%, #bcdaf3 50%, #b8e0e0 50%, #b8e0e0 62.5%, #a5e6d8 62.5%, #a5e6d8 75%, #a2ecc7 75%, #a2ecc7 87.5%, #9cf5c0 87.5%, #9cf5c0 100%);
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 82%);
}

.separation {
  margin: 0 auto 70px;
  height: 2px;
  width: 300px;
  border-radius: 5px;
  border: none;
  background: #000;
}

.container-boxs {
  width: 100%;
}

.box {
  margin: 0 50px;
}

.box p {
  text-align: center;
}

.nombre-clients {
  font-size: 85px;
}

.type-de-clients {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}

.info-clients {
  font-size: 20px;
}

@media screen and (max-width: 1000px) {
  .nombre-clients {
    font-size: 80px;
  }
}
@media screen and (max-width: 750px) {
  .container-performances {
    padding: 175px 20px 150px;
  }

  .container-boxs {
    flex-direction: column;
  }

  .box {
    padding-bottom: 50px;
  }

  .nombre-clients {
    font-size: 80px;
  }

  .separation {
    margin: 0 auto 30px;
    width: 30%;
  }

  .type-de-clients {
    font-size: 25px;
  }

  .info-clients {
    font-size: 22px;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .container-performances {
    padding: 135px 20px 150px;
  }

  .nombre-clients {
    font-size: 50px;
  }

  .type-de-clients {
    font-size: 22px;
  }

  .info-clients {
    font-size: 20px;
  }
}
.container-faq {
  width: 70%;
  max-width: 900px;
  min-width: 320px;
  height: auto;
  margin: 10px auto 150px;
  flex-direction: column;
}

.questions {
  width: 100%;
  height: auto;
  margin: 5px;
}

.panneau-visible {
  display: flex;
  position: relative;
  z-index: 100;
  background: #f1f1f1;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.titre-questions {
  padding: 15px 5px;
  margin-left: 10px;
  font-size: 20px;
}

.panneau-visible img {
  width: 25px;
  cursor: pointer;
  margin-right: 10px;
}

.toggle-pannel {
  padding: 0 15px;
  height: 0;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.toggle-pannel h4 {
  font-size: 22px;
  padding-bottom: 10px;
}

.toggle-pannel p {
  font-size: 18px;
  line-height: 1.5;
}

@media screen and (max-width: 750px) {
  .container-faq {
    width: 90%;
  }

  .titre-questions {
    margin-left: 10px;
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
