body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  position: relative;
  min-height: 100vh;
}

// -------------------------  NAVIGATION ------------------

nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-nav {
  font-size: 30px;
  padding-left: 30px;
}
nav ul {
  @extend %flex-double-center;
}
nav li {
  margin: 0 20px;
}
nav a {
  text-decoration: none;

  color: #000;
  font-size: 25px;
}
nav li a::after {
  content: "";
  position: relative;
  top: 5px;
  display: block;
  width: 100%;
  height: 1px;
  background: #000;
  transform: scale(0);
  transition: transform 0.2s ease-in-out;
}
nav li a:hover::after {
  transform: scale(1);
}
.lien-essaie {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  padding: 15px;
  border-radius: 15px;
  color: #fff;
  background: linear-gradient(45deg, $violet-primary, rgb(50, 151, 168));
}
.responsive-nav-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: transparent;
}

//--------------------------------- MEDIA QUERIES--------------------------------

@media screen and (max-width: 950px) {
  .responsive-nav-btn {
    display: block;
  }
  nav {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid #000;
    position: absolute;
    top: -5px;
  }
  nav ul {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #000;
    flex-direction: column;
    display: none;
  }
  .logo-nav {
    padding-left: 0;
    width: 100%;
    background: #fff;
    text-align: center;
    height: 70px;
    line-height: 70px;
  }
  nav ul li {
    height: 70px;
    line-height: 70px;
  }
  .lien-essaie {
    display: none;
  }
  .active-nav {
    display: flex;
  }
}

//------------------------- CONTAINER GLOBAL-------------------------

.container-global {
  padding-bottom: 400px;
}
//------------------------- ACCUEIL-------------------------

.accueil {
  width: 100%;
  height: 900px;
  @extend %flex-double-center;
  flex-direction: column;
  padding: 50px 0 75px;
}
.titre-global {
  @extend %titre-global;
}
.sous-titre {
  text-align: center;
  font-size: 32px;
  padding-bottom: 20px;
  line-height: 1.2;
}
.accueil img {
  width: 1000px;
}
@media screen and (max-width: 1100px) {
  .accueil {
    padding: 0 0 0;
    height: 700px;
  }
  .accueil img {
    width: 700px;
  }
  .sous-titre {
    font-size: 27px;
  }
}

@media screen and (max-width: 950px) {
  .accueil {
    padding: 100px 0 0;
  }
}

@media screen and (max-width: 750px) {
  .accueil {
    padding: 100px 0 50px;
    height: 500px;
  }
  .accueil img {
    width: 500px;
  }
  .sous-titre {
    font-size: 24px;
  }
}
@media screen and (max-width: 550px) {
  .accueil {
    padding: 75px 0 0px;
    height: 400px;
  }
  .accueil img {
    width: 400px;
  }
  .sous-titre {
    font-size: 18px;
  }
}
@media screen and (max-width: 450px) {
  .accueil {
    height: 320px;
  }
  .accueil img {
    width: 320px;
  }
}
//------------------------- PERFORMANCES-------------------------
.container-performances {
  padding: 120px 20px 170px;
  margin-bottom: 100px;
  background-image: linear-gradient(
      45deg,
      rgba(190, 188, 245, 0.5) 0%,
      rgba(190, 188, 245, 0.5) 12.5%,
      rgba(154, 158, 183, 0.5) 12.5%,
      rgba(154, 158, 183, 0.5) 25%,
      rgba(155, 167, 181, 0.5) 25%,
      rgba(155, 167, 181, 0.5) 37.5%,
      rgba(119, 148, 154, 0.5) 37.5%,
      rgba(119, 148, 154, 0.5) 50%,
      rgba(105, 160, 159, 0.5) 50%,
      rgba(105, 160, 159, 0.5) 62.5%,
      rgba(135, 181, 160, 0.5) 62.5%,
      rgba(135, 181, 160, 0.5) 75%,
      rgba(165, 218, 184, 0.5) 75%,
      rgba(165, 218, 184, 0.5) 87.5%,
      rgba(147, 232, 165, 0.5) 87.5%,
      rgba(147, 232, 165, 0.5) 100%
    ),
    linear-gradient(
      135deg,
      rgb(211, 206, 245) 0%,
      rgb(211, 206, 245) 12.5%,
      rgb(207, 207, 234) 12.5%,
      rgb(207, 207, 234) 25%,
      rgb(193, 211, 239) 25%,
      rgb(193, 211, 239) 37.5%,
      rgb(188, 218, 243) 37.5%,
      rgb(188, 218, 243) 50%,
      rgb(184, 224, 224) 50%,
      rgb(184, 224, 224) 62.5%,
      rgb(165, 230, 216) 62.5%,
      rgb(165, 230, 216) 75%,
      rgb(162, 236, 199) 75%,
      rgb(162, 236, 199) 87.5%,
      rgb(156, 245, 192) 87.5%,
      rgb(156, 245, 192) 100%
    );
  clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 82%);
}
.separation {
  margin: 0 auto 70px;
  height: 2px;
  width: 300px;
  border-radius: 5px;
  border: none;
  background: #000;
}
.container-boxs {
  @extend %flex-double-center;
  width: 100%;
}
.box {
  margin: 0 50px;
}
.box p {
  text-align: center;
}
.nombre-clients {
  font-size: 85px;
}
.type-de-clients {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
}
.info-clients {
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .nombre-clients {
    font-size: 80px;
  }
}
@media screen and (max-width: 750px) {
  .container-performances {
    padding: 175px 20px 150px;
  }
  .container-boxs {
    flex-direction: column;
  }
  .box {
    padding-bottom: 50px;
  }
  .nombre-clients {
    font-size: 80px;
  }

  .separation {
    margin: 0 auto 30px;
    width: 30%;
  }
  .type-de-clients {
    font-size: 25px;
  }
  .info-clients {
    font-size: 22px;
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .container-performances {
    padding: 135px 20px 150px;
  }
  .nombre-clients {
    font-size: 50px;
  }
  .type-de-clients {
    font-size: 22px;
  }
  .info-clients {
    font-size: 20px;
  }
}
