.titre-tarifs {
  padding: 120px 0 20px;
}
.container-tarifs {
  margin: 125px auto 200px;
  width: 60%;
  max-width: 1100px;
  min-width: 300px;
  height: auto;
}
.choix-tarifs {
  margin: 0 auto;
  height: 100px;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.choix {
  font-family: "Comfortaa", arial;
  height: 100%;
  font-size: 30px;
  width: 170px;
  outline: none;
  border: none;
  @extend %flex-double-center;
  letter-spacing: 3px;
  cursor: pointer;
  background: #333;
  color: #f1f1f1;
}
.choix:nth-child(1) {
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.2);
  border-right: 1px solid #fff;
}
.choix:nth-child(2) {
  box-shadow: 0px -5px 15px rgba(0, 0, 0, 0.2);
  border-right: 1px solid #fff;
}
.choix:nth-child(3) {
  box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.2);
}
.choix.active-choix {
  background: #fff;
  color: #000;
}

// Tableau

.tableau {
  border-collapse: collapse;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  font-size: 30px;
  background-image: linear-gradient(
      45deg,
      rgba(190, 188, 245, 0.5) 0%,
      rgba(190, 188, 245, 0.5) 12.5%,
      rgba(154, 158, 183, 0.5) 12.5%,
      rgba(154, 158, 183, 0.5) 25%,
      rgba(155, 167, 181, 0.5) 25%,
      rgba(155, 167, 181, 0.5) 37.5%,
      rgba(119, 148, 154, 0.5) 37.5%,
      rgba(119, 148, 154, 0.5) 50%,
      rgba(105, 160, 159, 0.5) 50%,
      rgba(105, 160, 159, 0.5) 62.5%,
      rgba(135, 181, 160, 0.5) 62.5%,
      rgba(135, 181, 160, 0.5) 75%,
      rgba(165, 218, 184, 0.5) 75%,
      rgba(165, 218, 184, 0.5) 87.5%,
      rgba(147, 232, 165, 0.5) 87.5%,
      rgba(147, 232, 165, 0.5) 100%
    ),
    linear-gradient(
      135deg,
      rgb(211, 206, 245) 0%,
      rgb(211, 206, 245) 12.5%,
      rgb(207, 207, 234) 12.5%,
      rgb(207, 207, 234) 25%,
      rgb(193, 211, 239) 25%,
      rgb(193, 211, 239) 37.5%,
      rgb(188, 218, 243) 37.5%,
      rgb(188, 218, 243) 50%,
      rgb(184, 224, 224) 50%,
      rgb(184, 224, 224) 62.5%,
      rgb(165, 230, 216) 62.5%,
      rgb(165, 230, 216) 75%,
      rgb(162, 236, 199) 75%,
      rgb(162, 236, 199) 87.5%,
      rgb(156, 245, 192) 87.5%,
      rgb(156, 245, 192) 100%
    );
  color: #000;
}
th {
  font-size: 40px;
}
td,
th {
  border: 1px solid #222;
  padding: 10px;
  vertical-align: middle;
  width: 50%;
}
.panneau {
  display: none;
}
.panneau-active {
  display: block;
}

@media screen and (max-width: 1200px) {
  .container-tarifs {
    width: 90%;
    margin: 55px auto 100px;
  }
}
@media screen and (max-width: 900px) {
  .container-tarifs {
    width: 95%;
  }
  .choix-tarifs {
    height: 80px;
  }
  .choix {
    width: 150px;
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .container-tarifs {
    width: 300px;
  }
  .choix-tarifs {
    height: 60px;
  }
  .choix {
    width: 100px;
    font-size: 18px;
  }
  .tableau {
    height: 500px;
    font-size: 22px;
  }

  th {
    font-size: 25px;
  }
}
